@font-face { font-family: 'sega';
	src: url('SEGA.TTF') format('truetype'); }

@media (min-aspect-ratio:3/2) {
html, body{
	background-color:#000;
	color: #16d836;
	font-family: sega, sans-serif;
    font-size: 3vmin;
    line-height: 5vmin;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-areas:
     "head head"
     "math music"
     "sports coding"
     "contact contact"
     "form form"
     "rights rights";
}

.wrapper .head {
    grid-area: head;
}
.wrapper .math {
    grid-area: math; 
}
.wrapper .music {
    grid-area: music; 
}
.wrapper .coding {
    grid-area: coding;
}
.wrapper .sports {
    grid-area: sports;
}
.wrapper .contact {
    grid-area: contact;
}
.wrapper .form {
    grid-area: form;
}
.wrapper .rights {
    grid-area: rights;
}

div {
    margin: 0;
    padding: 2vh 0vw;
    text-align: center;
    align-items: center;
}

h2 {
    text-align: center;
}

ul {
    display: table;
    list-style: none;
    margin: auto;
    text-align:left;
}

input {
    width: 50%;
    height: 5vh;
    font-size: 3vmin;
    padding: 2vmin;
    border: 0.5vmin solid #16d836;
    background-color:#000;
    color: #16d836;
    resize: none;
  }

textarea {
    width: 50%;
    height: 5vh;
    font-size: 3vmin;
    padding: 2vmin;
    border: 0.5vmin solid #16d836;
    background-color:#000;
    color: #16d836;
    resize: none;
    
}

button {
    padding: 1vh 1vw;
    border: none;
    background-color: #16d836; /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
}

}   