@font-face { font-family: 'sega';
	src: url('SEGA.TTF') format('truetype'); }
	
@media (max-aspect-ratio: 3/2) {
html, body{
	background-color:#000;
	color: #16d836;
	font-family: sega, sans-serif;
	line-height: 5vmin;
	font-size: 3vmin;
	overflow-wrap: break-word;
    margin: 0;
	padding: 0;
}

.wrapper {
    display:grid;
    grid-template-areas:
    "head"
    "math"
    "music"
    "sports"
    "coding"
    "contact"
    "form"
    "rights";
}

.wrapper .head {
    grid-area: head;
}
.wrapper .math {
    grid-area: math; 
}
.wrapper .music {
    grid-area: music;
}
.wrapper .coding {
    grid-area: coding; 
}
.wrapper .sports {
    grid-area: sports;
}
.wrapper .contact {
    grid-area: contact;
}
.wrapper .form {
    grid-area: form;
}
.wrapper .rights {
    grid-area: rights;
}

div {
    margin: 0;
    padding: 10vh auto;
    text-align: center;
    align-items: center;
}

h2 {
    text-align: center;
}

ul {
    display: table;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align:left;
}

input {
    width: 50%;
    height: 5vh;
    font-size: 3vmin;
    padding: 2vmin;
    border: 0.5vmin solid #16d836;
    background-color:#000;
    color: #16d836;
    resize: none;
  }

textarea {
    width: 50%;
    height: 30vh;
    font-size: 3vmin;
    padding: 2vmin;
    border: 0.5vmin solid #16d836;
    background-color:#000;
    color: #16d836;
    resize: none;
}

button {
    padding: 1vh 1vw;
    border: none;
    background-color: #16d836; /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
}

}