@media (max-aspect-ratio: 3/2) {
	html, body{
		background-color:#000;
		color: #16d836;
		font-family: sega, sans-serif;
		line-height: 5vmin;
		font-size: 3vmin;
		overflow-wrap: break-word;
			margin: 0;
		padding: 0;
	}