:root
{
	--main: black;
	--secondary: white;
	--third: hsl(315, 84%, 41%);
}

* 
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



@media (min-aspect-ratio:3/2) {
	html, body
	{
		background-color:var(--main);
		color: var(--secondary);
		font-family: sega, sans-serif;
		font-size: 3vmin;
		line-height: 5vmin;
		overflow-wrap: break-word;
		margin: 0;
		padding: 0;
	}

	.wrapper
	{
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas:
			"coordinate_system text";
		grid-template-columns: 90vh 0;
		grid-template-rows: 90vh;
	}

	.wrapper > div
	{
		border: none; /*1vh solid var(--secondary);*/
	}
	.coordinate_system
	{
		grid-area: coordinate_system;
	}
	.text
	{
		grid-area: text;
	}
}